# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
reports/

# Virtual environment
venv/
env/
bin/
lib/
include/
lib64/
Scripts/
pyvenv.cfg

# IDE and editor files
.idea/
.vscode/
*.sublime*
*.swo
*.swp
*.pyc
*.pyo
*.pyd

# Logs and databases
*.log
*.sqlite3
*.db
*.db-shm
*.db-wal

# Compiled Python files
*.pyc
*.pyo

# Package directories
dist/
build/
*.egg-info/
*.egg/

# Jupyter Notebook
.ipynb_checkpoints/

# Pipenv
Pipfile.lock
