/* Main container to hold both boxes */
/* Main container to hold both boxes */
.main-container {
	display: flex;
	justify-content: center; /* Centers horizontally */
	align-items: center;     /* Centers vertically */
	height: 100vh; /* Full screen height */
	background-size: cover; /* Ensures the image covers the entire container */
	background-position: center; /* Centers the image */
	background-repeat: no-repeat; /* Prevents image repetition */
	background-image: url('./WhatsApp\ Image\ 2024-09-05\ at\ 10.19.32\ PM.jpeg');
}


/* Style for the old box (Audit form) */
.form-container {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 320px;
	margin-right: 40px; /* Space between the two boxes */
}

/* Heading Style */
h1 {
	font-size: 2rem;
	color: #333;
	text-align: center; /* Center align heading */
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid #ccc; /* Adjust underline thickness */
	animation: slideDown 1s ease-in-out;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

label {
	font-size: 1rem;
	color: #333;
	margin-bottom: 5px;
	display: inline-block;
	text-align: left;
	width: 100%;
	font-weight: 600; /* Semibold */
	box-sizing: border-box;
}

/* Style for the new box (Hostname list) */
.hostname-list-container {
	background-color: #f9f9f9;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 320px; /* Match the width of the old box */
	height: auto; /* Adjust height as needed */
	text-align: center;
}

.hostname-list-container h2 {
	font-size: 1.5rem;
	color: #333;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid #e3f2fd; /* Thin underline */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Style for the button container */
.button-container {
	display: flex;
	justify-content: space-between; /* Ensures buttons are on the same line */
}

/* Style the buttons */
button {
	background-color: #007bff;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s ease-in-out;
}

button:hover {
	background-color: #0056b3;
}


.added-host-container{
	padding: 12px 24px ;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	gap: 8px;
	
	
}

.added-host-container	h2{
	padding-bottom: 12px;
	border-bottom: 1px solid gray;
}
